.comments {
  padding-bottom: 30px;
}

.item {
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

.editBtn {
  padding: 8px 20px;
  cursor: pointer;
}

.deleteBtn {
  padding: 8px 20px;
  cursor: pointer;
}

.save {
  padding: 8px 20px;
  cursor: pointer;
}

.cancel {
  padding: 8px 20px;
  cursor: pointer;
}

.addComment {
  padding: 8px 20px;
  cursor: pointer;
}

textarea {
  max-width: 300px;
  max-height: 50px;
  padding: 10px;
}
