.item {
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

.editBtn {
  padding: 8px 20px;
  cursor: pointer;
}

.deleteBtn {
  padding: 8px 20px;
  cursor: pointer;
}

.save {
  padding: 8px 20px;
  cursor: pointer;
}

.cancel {
  padding: 8px 20px;
  cursor: pointer;
}

.addComment {
  padding: 8px 20px;
  cursor: pointer;
}

textarea {
  width: 300px;
  height: 50px;
  padding: 10px;
}
