.container {
  > form {
    display: flex;
    flex-direction: column;
    > button {
      height: 50px;
      cursor: pointer;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    > label {
      margin-bottom: 8px;
    }
    > input,
    textarea {
      padding: 30px;
      width: 300px;
      margin-bottom: 20px;
    }
    > select {
      padding: 20px;
    }
  }
}
